.container1 {
    background-color: white;
}

.title {
    font-size: 8rem;
    font-weight: 700;
    color: #000;
}

.connectHero {
    margin-top: 12px;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 64px;
    height: 62vh;
}

.tabs {
    display: flex;
    gap: 10px;
    margin: 20px;
    justify-content: flex-start;

  }
  
  .tabs button {
    padding: 0.8rem 1rem;
    border-radius: 100px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .tabs button.bg-blue-500 {
    background-color: #4FD1C58F;
    color: #2C5282;
    font-weight: 600;
  }
  
  .tabs button.bg-gray-200 {
    background-color: #FFF;
    color: #000000;
  }
  
  .content {
    margin-top: 1rem;
  }
  