body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.connectButton{
  position: relative;
  display: flex;
  justify-content: center;
}

.footer {
  position: relative;
  display: flex;
  padding: 2rem 0;
  color: black;
  justify-content: center;
}

.footer a {
  position: absolute;
  right: 50;
  bottom: 0;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer p {
  display: flex;
}